.borderContainer{
    background-color: #F2CC8F;
    border-radius: 4px;
    padding-bottom: 40px !important;
    box-shadow: 0 4px 25px #676767;
    /* background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png") !important; */
}

.borderImage{
    background-color: #546A7B;
    padding: 20px;
    padding-bottom: 60px;
    width: 99% !important;
    border-radius: 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: white;
    box-shadow: 10px 5px #e2e2e2;
    z-index: 1;
}


h1{
    font-family: 'Dela Gothic One', cursive;
}

h2,p{
    font-size: 25px;
    font-family: 'Architects Daughter', cursive;
}

.description{
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    padding-top:0px;
    font-family: 'Architects Daughter', cursive;
}

.description-head{
    font-size: 28px;
    font-family: 'Antonio', sans-serif;
    font-weight: 700 !important;
    color:black ;
    margin-bottom: 40px;
    background-color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header {
    color: white;
    background: #db4c40;
    display: block;
    font-family: "Dela Gothic One", cursive;
    font-size: 35px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 10px 5px #46b1c9;
    writing-mode: vertical-lr;
    float: right;
    margin-right: 10%;
  }
  
  .bg {
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    min-height: 100vh;
    padding-bottom: 65px;
    padding-top: 40px;
    background-color: aliceblue;
  }

  .bgHome{
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    min-height: 76vh;
    padding-bottom: 65px;
    padding-top: 20px;
    background-color: aliceblue;
  }
  
  @media screen and (max-width: 1750px) {
    .header {
      margin-right: 3%;
      margin-top: 120px;
    }
  }
  
  @media screen and (max-width: 1600px) {
    .header {
      margin-right: 2%;
    }
  }
  
  @media screen and (max-width: 1500px) {
    .header {
      writing-mode: horizontal-tb;
      float: none;
      display: block;
      width: 370px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 567px) {
    .header {
      writing-mode: horizontal-tb;
      float: none;
      display: block;
      width: 92%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      text-align: center;
    }
  }
